@font-face {
    font-family: "Roboto";
    font-weight: bold;
    src: url("../fonts/roboto/Roboto-Bold.eot") format("eot"),
    url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/roboto/Roboto-Bold.woff") format("woff"),
    url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"),
    url("../fonts/roboto/Roboto-Bold.svg") format("svg");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../fonts/roboto/Roboto-Regular.svg") format("eot"),
    url("../fonts/roboto/Roboto-Regular.svg") format("woff2"),
    url("../fonts/roboto/Roboto-Regular.svg") format("woff"),
    url("../fonts/roboto/Roboto-Regular.svg") format("truetype"),
    url("../fonts/roboto/Roboto-Regular.svg") format("svg");
}


@font-face {
    font-family: "Roboto";
    font-weight: 200;
    src: url("../fonts/roboto/Roboto-Thin.svg") format("eot"),
    url("../fonts/roboto/Roboto-Thin.svg") format("woff2"),
    url("../fonts/roboto/Roboto-Thin.svg") format("woff"),
    url("../fonts/roboto/Roboto-Thin.svg") format("truetype"),
    url("../fonts/roboto/Roboto-Thin.svg") format("svg");
}