@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  src: url("/public/fonts/roboto/Roboto-Regular.svg") format("eot"),
  url("/public/fonts/roboto/Roboto-Regular.svg") format("woff2"),
  url("/public/fonts/roboto/Roboto-Regular.svg") format("woff"),
  url("/public/fonts/roboto/Roboto-Regular.svg") format("truetype"),
  url("/public/fonts/roboto/Roboto-Regular.svg") format("svg");
}
html, body, #root, #root > div  {
  height: 100%
}

#root > div {
  background: #eee;
}

body, h1 {
  font-family: "Roboto-Regular", sans-serif;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

li {
  display: flex ;
  list-style: none;
  line-height: 2;
  color: #554d4d
}

li > a,
li > div {
  flex: 1;
}

ul {
  padding: 0
}

a {
  color: #271f1f;
  text-decoration: none;
  padding-left: 30px;
}

a:hover {
  color: #271f1f;
  background: #f1efef;
}

a:visited {
  color: #271f1f;
}

a:focus {
  color: #271f1f;
}
