.container {
    background: #fff;
    margin: 0 auto;
    padding: 30px 30px 30px 0;
    width: 900px;
    height: 100%;
}

h1 {
    font-weight: 400;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.54);
}

.header-container {
    display: flex;
    border-bottom: 1px solid #e3eff3;
    padding-bottom: 10px;
    padding-left: 30px;
    align-items: center;
    margin-top: -15px;
}

.header-container__item {
    padding-right: 30px;
}

.plusButton {
    height: 25px;
    line-height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #f6f6f9;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}